@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Lt";
  src: url("../font/Roboto-Light.ttf");
}

:root{
  --colorTextMain:  rgb(61, 61, 61);
  --colorTextAdditional:   rgb(100, 100, 100);
}

::-webkit-scrollbar {
  width: 0px; /* ширина для вертикального скролла */
  height: 2px; /* высота для горизонтального скролла */
  background-color:rgb(248, 248, 248);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(238, 239, 255);
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}






body {
  font-size: 14px;
  font-family: "Roboto Lt";
  background: rgb(248, 248, 248);
  color: var(--colorTextMain);
  font-weight: 100;
  height: 100vh;
}


.all{
    margin-top: 40px;
     min-width: 360px;
}

.all h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* КНОПКА ПОМОЩИ */
.all .helpBtn{
border-radius: 100%;
border: 1px solid rgb(230, 230, 230);
width: 30px;
height: 30px;
text-align: center;
padding: 0;
cursor: pointer;
margin: 0 auto ;
display: block;
margin-bottom: 40px;
color:var(--colorTextMain);
background: rgba(253, 247, 170, 0.445);
transition: all 0.5s ease;
animation: blinking 3s linear 0s infinite alternate-reverse ;
box-shadow: 0px 0px 0px 0px #fff;

}
.helpBtn:hover{
  background:  rgb(238, 239, 255);
  animation-duration: 0.5s;
}

@-webkit-keyframes blinking{
  0%{
    background: rgba(253, 247, 170, 0.445);
    box-shadow: 0px 0px 0px 0px #fff;
    color: var(--colorTextMain);
  }
  50%{
    background: rgb(253, 247, 170);
    box-shadow: 0px 0px 15px 10px rgb(253, 247, 170);
    color: rgb(194, 194, 194);
  }
  100%{
    background: rgba(253, 247, 170, 0.445);
    box-shadow: 0px 0px 0px 0px #fff;
    color: var(--colorTextMain);
  }

}
.all .helpBtn:focus{
  outline: none;
}

/* ОКНО ПОМОЩИ */
.all .helpWindow{
    position: absolute;
    width: 50%;
    height: fit-content;
    background: rgba(220, 222, 255, 0.952);
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 99;
    padding: 40px;
    cursor: pointer;
    color: rgb(66, 66, 66);
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1);
    transform-origin: top center;
    opacity: 0;
}
.helpWindow:hover{
  background: rgb(209, 212, 255);
}
.all .helpWindow.openHelpWindow{
  transform: scale(1);
  opacity: 1;
  
}



.all .helpWindow h4{
  margin-top: 0;
}

/* ОБЩИЕ СТИЛИ ФОРМЫ */
.forms {
  width: 100%;
  margin: 0 auto 60px;
}

.forms .formTag{
    margin: 0 auto;
    width: 75%;
    min-width: 360px;
 
    display: flex;
    justify-content: center;

}
/* ДОПОЛНИТЕЛЬНЫЕ ФУНКЦИИ */
.divAddFunction{
  width: 50px;
  height: 50px;
  margin: 5px 0;
  margin-right: 10px;
  position: relative;
  text-align: center;
  padding: 0;


}

.divAddFunction::after{
  content: 'Дополнительные функции';
  position: absolute;
width: 100px;
 bottom: -5px;
 left: -23px;
 right: 0;
 text-align: center;
 color: var(--colorTextAdditional);
 font-size: 12px;
 transition: all 0.3s cubic-bezier(0.575, 0.885, 0.32, 1.275);
 transform:  scale(0);
 opacity: 0;
 height: 0px;
}

.divAddFunction:hover::after{
  transform:  scale(1);
  opacity: 1;
}


/* СТИЛИ КНОПКИ ДОП ФУНКЦИИ */
.divAddFunction .addFunction{
  width: 100%;
  height: 100%;
  min-width: 50px;
  font-size: 26px;
  border-radius: 12px;
  background: rgb(248, 248, 248);
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: var(--colorTextAdditional);
  border: 1px solid rgb(209, 209, 209);
  padding: 0;
  box-sizing: content-box;
}

.divAddFunction .addFunction:hover{
  background: rgb(238, 239, 255);
}
.divAddFunction .addFunction:focus{
  outline: none;
}

.listAddFunction{
    position: absolute;
    background: rgb(241, 250, 238);
    width: 300px;
    min-height: 100px;
    padding: 30px;
    text-align: start;
    z-index: 10;
    margin-top: 10px;
    border-radius: 20px;
    transform: scale(0);
    transition: all 0.3s ease;
    transform-origin: left top;
    color: var(--colorTextAdditional);
    border: 1px solid rgb(209, 209, 209);
   box-sizing: content-box;

}

.openListAddFunction{
  transform: scale(1);
}

.listAddFunction ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.listAddFunction ul li{
cursor: pointer;
border: 1px solid rgb(241, 250, 238);;
box-sizing: border-box;
transition: all 0.3s ease;
position: relative;
text-align: center;
padding: 3px;

}

.listAddFunction ul li::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  background:  rgb(209, 209, 209);
  
  transition: all 0.3s ease;
}


.listAddFunction ul li:hover::before{
 width: 90%;
 box-shadow: 0px -3px 12px 7px rgba(255, 255, 255, 0.445);
}


/* ФОРМА РАЗМЕРА  */
.divSizeFormCake,.divWeightCake, .divNameProductUser,.divBtn{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 5px 0; 
  

}


.sizeFormCake{
  border: 1px solid rgb(209, 209, 209);
  color: var(--colorTextMain);
  background: rgb(248, 248, 248);
  border-radius: 12px;
  margin-right: 10px;
  padding: 0 10px;
  text-align: center;
  cursor: pointer;
  display: block;
  height: 100%;
  box-sizing: content-box;
 
  
  
}

.divSizeFormCake::after{
  content: "Размер формы";
 position: absolute;
 width: 85%;
 bottom: -5px;
 left: 0;
 right: 0;
 text-align: center;
 color: var(--colorTextAdditional);
 font-size: 12px;
 transition: all 0.3s cubic-bezier(0.575, 0.885, 0.32, 1.275);
 transform:  scale(0);
 opacity: 0;
 height: 0px;
  
}
.divSizeFormCake:hover::after{
 
  transform: scale(1);
  opacity: 1;
}

.sizeFormCake option{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 12px;
  background: rgb(248, 248, 248);
  border: 1px solid rgb(209, 209, 209);
 padding: 0px 0;
  box-sizing: content-box;
}
.sizeFormCake:focus{
  outline: none;
}


/* ФОРМА ВВОДА ВЕСА */

body .all .divWeightCake{
 /*  position: absolute; */
transform: scale(0);
transition: all 0.3s ease;
width: 0;
height: 0;
}

.forms .formTag .weightCake{
  height: 100%;
  padding: 0px 20px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 209);
  color: var(--colorTextMain);
  background: rgb(248, 248, 248);
    width: 80px;
    box-sizing: content-box;
    margin-right: 10px;
    position: relative;
    display: block;
  
}
.forms .formTag .weightCake:focus{
  outline: none;
}

.divWeightCake::after{
  content: "Вес в граммах";
 position: absolute;
 width: 85%;
 bottom: -20px;
 left: 0;
 right: 0;
 text-align: center;
 color: var(--colorTextAdditional);
 font-size: 12px;
 transition: all 0.3s cubic-bezier(0.575, 0.885, 0.32, 1.275);
 transform:  scale(0);
 opacity: 0;
  
}

.divWeightCake:hover::after{
 
  transform:  scale(1);
  opacity: 1;
}




/* 
ФОРМА ВВОДА ДАННЫХ */

.forms .formTag  .divNameProductUser{
  width: 100%;
  max-width: 500px;
  
}

.divNameProductUser::after{
  content: "Наименование ингредиента, граммы";
 position: absolute;
 width: 105%;
 bottom: -20px;
 left: 0;
 right: 0;
 text-align: center;
 color: var(--colorTextAdditional);
 font-size: 12px;

 opacity: 0;
 transition: all 0.3s cubic-bezier(0.575, 0.885, 0.32, 1.275);
 transform:  scale(0);
  
}

.divNameProductUser:hover::after{
  transform: scale(1);
  opacity: 1;
}

.nameProductUser {
  height: 100%;
  padding: 0px 20px;
  border-radius: 12px;
  border: 1px solid rgb(209, 209, 209);
  color: var(--colorTextMain);
  background: rgb(248, 248, 248);
    width: 100%;
    box-sizing: content-box;
}

.nameProductUser:focus {
  outline: none;
}

/* КНОПКА ДОБАВИТЬ */
.btn {
  height: 100%;
  display: block;
  width: 120px;
  font-size: 12px;
  border-radius: 12px;
  background: rgb(248, 248, 248);
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-left: 30px;
  color: var(--colorTextMain);
  border: 1px solid rgb(209, 209, 209);
  padding: 0;
  box-sizing: content-box;
}
.btn:hover {
  background: rgb(238, 239, 255);
}

.btn:focus {
  outline: none;
}

/* ШАПКА ТАБЛИЦЫ */
.headTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px;
  margin: 0 auto;
  width: 80%;
  height: 70px;
  min-width: 360px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: rgb(238, 239, 255);
  border-bottom: 3px solid rgb(248, 248, 248);
    border-radius: 5px;
  border-radius: 5px;
}

.osn {
  height: 100%;
  text-align: center;
  margin: 0;
  font-family: "Roboto";
  text-align: center;
  width: 33%;
  font-weight: 600;
  padding: 0px 0px;
 
  display: flex;
  align-items: center;
  justify-content: center;


}


.contain .content .pp {
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 40px;
  overflow: hidden;
  border-top: 1px solid rgb(230, 230, 230);
  border-left: 1px solid rgb(230, 230, 230);
  border-right: 1px solid rgb(230, 230, 230);
  text-align: center;
  -webkit-transition: all .7s ease;
  transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  justify-content: center;
 opacity: 1;
    transform: rotateX(0deg) scaleY(1);
 /*  background: rgb(255, 255, 236); */
  position: relative;
}

.contain .content .pp:hover {
  background: rgb(212, 212, 212);
}


.contain .nameProductText p, .contain .gramConteiner p, .contain .price p{
    transition: all .7s ease;
     transform: rotateX(-360deg) scaleY(0);
     position: absolute;
     opacity: 0;
     height: 0;
   
 }




.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  min-width: 360px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contain .nameProductText {
  width: 33%;
  height: 100%;
  text-align: center;

  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



.contain .gramConteiner {
  width: 33%;
  height: 100%;
  text-align: center;
  /*  background: rgb(231, 231, 231); */
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contain .price {
  width: 33%;
  height: 100%;
  text-align: center;
  /*   background: rgb(231, 231, 231); */
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* ИТОГ */
.contain .content .total {
  margin-top: 0;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
  border-top: 3px solid rgb(248, 248, 248);
  padding: 12px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  transform: translateX(0);
  background: rgb(238, 239, 255);
  height: 20px;

  opacity: 1;
}

/* АНИМАМЦИЯ УДАЛЕНИЯ */
 .contain .content .delString {
    position: relative;
  height: 0px; 
  overflow: hidden;
   -webkit-transform: rotateX(360deg) scaleY(0);
          transform: rotateX(360deg) scaleY(0);
          text-overflow: clip;
          transition: all 0.7s ease;
}

.clearList{
  font-size: 12px;
  border-radius: 12px;
  background: rgb(248, 248, 248);
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color:rgb(199, 119, 119);
  border: 1px solid rgb(199, 119, 119);
  padding: 0;
  box-sizing: content-box;
  height: 50px;
  width: 200px;
  display: block;
  margin: 50px auto;
}
.clearList:hover{
  background:  rgb(199, 119, 119);
  color: #fff;
}

.all .clearList:focus{
  outline: none;
}

.allRight{
  font-size: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.allRight a{
  color: rgb(0, 0, 0);;
}











/* КЛАСС ДОБАВЛЕНИЕ ДОП ФУНКЦИИ */
body .all .addMoreFunction{
  transform: scale(1);
/*   position: relative; */
  width: 130px;
  height: 50px;
}
